<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icono de arriba -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='css/imagenes/1.jpg') }}">
    <title>IA ITM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}" type="text/css">

  </head>
<body>
    <div class="page">
        <header style="background:  #02bd59;" tabindex="0">IA ITM (o otro nombre aca bien melo melo caramelo, elegante como el pegante)</header>
        <div id="nav-container">
          <div class="bg"></div>
          <div class="button" tabindex="0">
            <span style="background:  #049548;" class="icon-bar"></span>
            <span style="background:  #049548d0;"class="icon-bar"></span>
            <span style="background:  #0495489b;"class="icon-bar"></span>
          </div>
          <div style="background:  #049548;" id="nav-content" tabindex="0">
            <ul>
              <li><a href="../">Inicio</a></li>
              <li><a href="../Detector">Detector Mascara</a></li>
              <li><a href="#0">Circuito Cerrado</a></li>
              <li><a href="../Nosotros">Sobre notros/ acerca de </a></li>
              <li><a href="https://www.google.com.ar/">Salir</a></li>
              <li class="small" style="color: cornsilk;">Semillero inteligencia artificial</li>
            </ul>
          </div>
        </div>
      <hr>
        <main >
         
            <img src="{{url_for('static', filename='../static/css/imagenes/2.jpg')}}"  style="height: 95%;  width: 100%;
            background-size: cover;"/>
            
        </main>
        <hr style="background: black;">
        <h1 align="center">Integrantes</h1>
        <div  id="contenedor" style="margin:20px; overflow: hidden; width: 100% ; ">
            <div id="item" style="float:left; width: 260px;height: 250px ; padding: 10px;">
            <img src="{{url_for('static', filename='../static/css/imagenes/Juanda.jpg')}}"  style="height: 100%;  width: 95%;
            "/>
            </div>
            <br>
            <br>
            <div id="item" style="float:left;  width: 700px; ">
              <p ><font size="7">Juan David Martinez Vargas</font> </p>   
              <small><font size="4">Profesor Supremo del semillero de inteligencia artificial</font></small>  
             
          </div>
          </div>
          <hr>
          <div  id="contenedor" style="margin:20px; overflow: hidden; width: 100% ; ">
            <div id="item" style="float:left; width: 260px;height: 250px ; padding: 10px;">
            <img src="{{url_for('static', filename='../static/css/imagenes/Daniel.jpeg')}}"  style="height: 100%;  width: 95%;
            "/>
            </div>
            <br>
            <br>
            <div id="item" style="float:left;  width: 700px; ">
              <p ><font size="7">Daniel Fernando Terraza Arciniegas</font> </p>   
              <small><font size="4">Estudiante Supremo del semillero de inteligencia artificial</font></small>  
            </div>
          </div>
          <hr>
          <div  id="contenedor" style="margin:20px; overflow: hidden; width: 100% ; ">
            <div id="item" style="float:left; width: 260px;height: 250px ; padding: 10px;">
            <img src="{{url_for('static', filename='../static/css/imagenes/Alejo.jpeg')}}"  style="height: 100%;  width: 95%;
            "/>
            </div>
            <br>
            <br>
            <div id="item" style="float:left;  width: 700px; ">
              <p ><font size="7">Alejandro Piedrahita Carvajal</font> </p>   
              <small><font size="4">Estudiante Supremo del semillero de inteligencia artificial</font></small>  
            </div>
          </div>
          <hr>
          <div  id="contenedor" style="margin:20px; overflow: hidden; width: 100% ; ">
            <div id="item" style="float:left; width: 260px;height: 250px ; padding: 10px;">
            <img src="{{url_for('static', filename='../static/css/imagenes/Mauricio.jpeg')}}"  style="height: 100%;  width: 95%;
            "/>
            </div>
            <br>
            <br>
            <div id="item" style="float:left;  width: 700px; ">
            <p ><font size="7">Mauricio Amaya Gomez</font> </p>   
            <small><font size="4">Estudiante Supremo del semillero de inteligencia artificial</font></small>  
          </div>
          </div>
          <hr>
          
          <footer style="background: #02bd59; text-align: center;">
            Medellin-Antioquia
            <br>
            2020
          </footer>

          </div>
        </div>
</body>
</html>